.select-and-label {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.2rem;
    z-index: 1;
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    --select-border: #777;
}

label {
    padding: 0.2rem 0.7rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f9f9f9b3;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-border);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    pointer-events: none;
}

.dropdown {
    border: 1px solid var(--select-border);
    border-radius: 0.25rem;
    padding: 0.25rem 2rem 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 1.1;
    cursor: pointer;
    background-image: linear-gradient(to top, #f9f9f9, #fff 50%);
    appearance: none;
}
